@charset 'utf-8';
*{margin:0;padding: 0;}
body{font-family: '微软雅黑';}
ul{list-style-type:none;}
a{text-decoration: none;}
i,em,address{font-style: normal;}
/*头部菜单*/
header{width: 1200px;margin:0 auto;height: 120px;margin:0 auto;}
header > a{display: block;position: absolute;top: 30px;width: 222px;height: 108px;text-indent: -9999px;background: url(../images/logo.png) no-repeat;}
header > ul{background: blue;margin-left: 302px;}
header > ul li{width: 142px;height: 120px;font-size: 18px;float: left;margin-right: 17px;text-align: center;position: relative;}
header > ul li a{padding-top: 74px;display: block;color: #000;height: 46px;}
header > ul li a:before{content: '';position: absolute;width:0%;right:50%;height: 5px;background-color: #f73856;bottom: 0px;transition: all 0.6s ease;}
header > ul li a:after{content: '';position: absolute;width:0%;left:50%;height: 5px;background-color: #f73856;bottom: 0px;transition: all 0.6s ease;}
header > ul li:hover a:after{width:50%;}
header > ul li:hover a:before{width:50%;}
header > ul li a.active{background: url(../images/currentMenu.png) no-repeat;color: #fff;}
header .contact{width: 230px;height: 80px;float: right;margin-top: 23px;}
header .contact p{/*height: 27px;*/background: url(../images/icon-phone.png) no-repeat left center;font-size: 28px;text-indent: 35px;color:#333;}
header .contact span{display:block;float:left;width: 110px;height: 37px;text-align: center;line-height: 37px;}
header .contact span.business{background: #3d3d3d;}
header .contact span.personal{background: #f84662;margin-left: 10px;}
header .contact span a{color: #fff;font-size: 18px;display: block;}
/*回到顶部&联系客服*/
div.backTop,div.contactService{cursor:pointer;position: fixed;right: 50px;z-index: 100;display: none;}
div.backTop{top: 380px;width: 60px;height: 60px;}
div.contactService{width: 40px;height: 40px;background: #f14a65;top: 450px;padding: 10px;color: white;text-align: center;}
.caseBannerMain{height: 721px;background: #f73856;}
.caseBannerMain .caseBannerContent{width: 1004px;height: 500px;margin:0 auto;position: relative;top: 50px;}
.caseBannerMain .caseBannerContent .caseBannerImg{position: absolute;transition: all 0.1s ease;}
.caseBannerMain .caseBannerContent .caseBannerImg:hover{transform: scale(1.05);}
.caseBannerMain .caseBannerContent img:nth-child(1){animation: getLeft2 1s ease;}
.caseBannerMain .caseBannerContent img:nth-child(2){left: 168px;animation: getTop2 1s ease;}
.caseBannerMain .caseBannerContent img:nth-child(3){left: 336px;animation: getTop2 1s ease;}
.caseBannerMain .caseBannerContent img:nth-child(4){left: 673px;animation: getTop2 1s ease;}
.caseBannerMain .caseBannerContent img:nth-child(5){top: 168px;animation: getBottom2 1s ease;}
.caseBannerMain .caseBannerContent img:nth-child(6){top: 336px;left:336px;}
.caseBannerMain .caseBannerContent img:nth-child(7){top: 336px;left:504px;animation:getBottom2 1s ease;}
.caseBannerMain .caseBannerContent img:nth-child(8){top: 168px;left:672px;animation:getRight2 0.5s ease;}
.caseBannerMain .caseBannerContent img:nth-child(9){top: 168px;left:840px;animation: getBottom2 1s ease;}
.caseBannerMain .caseBannerText{font-size: 36px;font-weight: 600;color: white;height: 116px;line-height:116px;text-align: center;background: #3d3d3d;margin-top:105px;}